@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
  --black-color: #000000;
  --eu-blue-color: #003399;
  --eu-yellow-color: #ffcc00;
  --white-color: #ffffff;
  --shadow-grey-color: rgba(0, 0, 0, 0.03);

  --plain-text: 20px 'Inter', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 30px 'Inter', system-ui, 'Segoe UI', Roboto, sans-serif;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  width: 100%;
  background: var(--eu-blue-color);
  color: var(--white-color);
  margin: 0;
}

body h1,
h2,
h3 {
  font: var(--heading);
}

body p {
  font: var(--plain-text);
}