.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section {
    width: 80%;
    background: var(--eu-yellow-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    border-radius: 8px;
}

.about-links-section {
    width: 80%;
    background: var(--white-color);
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 40px 0;
    padding: 20px;
    border-radius: 8px;
}

.about-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.about-link-img {
    width: 100px;
    height: auto;
    margin-right: 8px;
}