.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-section {
    width: 80%;
    background: var(--eu-yellow-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    border-radius: 8px;
}

.links-section {
    width: 80%;
    background: var(--white-color);
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 40px 0;
    padding: 20px;
    border-radius: 8px;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.link img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
} 