.footer {
    width: 100%;
    background: var(--eu-yellow-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    padding: 0 5px;
    position: static;
}

.footer p {
    font-size: 15px;
    color: var(--eu-blue-color);
}

.footer h3 {
    color: var(--eu-blue-color);
}

.texts {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

.email {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}